<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Burger</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        <script src="https://code.jquery.com/jquery.js"></script>
    </head>
    <body>
        
        <header class="header">

            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main">burger.</span>
                </h1>
                <form id="add-burger" class="form">
                    <input type="text" name="name" id="burger-name" placeholder="Triple Stack Bacon Fire Burger" class="form__input"/>
                    <button type="submit" id="submit">Add a burger</button>
                </form>
            </div>
        </header>

        {{{ body }}}

    </body>
    <script src="/assets/js/script.js"></script>
</html>